{% extends '_base.html' %}
{% block content %}
<h1>Play</h1>
<table>
    {% for x in range(3) %}
    <tr>
        {% for y in range(3) %}
        <td>
            {% if board[x][y] %}
            {{ board[x][y] }}
            {% elif not winner %}
            <form method="post">
                <input type="hidden" name="x" value="{{ x }}">
                <input type="hidden" name="y" value="{{ y }}">
                <button></button>
            </form>
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% if winner %}
<p>Winner: {{ winner }}</p>
{% endif %}
<p><a href="/">Back to home</a></p>
{% endblock %}