body {
    background-color: #333;
    color: #eee;
}

a, a:visited {
    color: #eee;
}

.error {
    color: #f00;
}

table {
    border: 1px solid #000;
}

td {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
}

td form {
    width: 50px;
    height: 50px;
}

td button {
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

pre {
    font-family: 'Courier New', Courier, monospace;
}