body {
    background-color: #ccc; /* 换成你喜欢的颜色 */
}

table {
    border: 1px solid #000;
}

td {
    width: 20px;
    height: 20px;
    text-align: center;
}

td button {
    width: 20px;
    height: 20px;
}